[data-ccmcardnum='7'] .ccm-info {
  padding: 0 90px 25px 0;
  border-bottom: 2px solid #000;
}

[data-ccmcardnum='7'] .ccm-btns-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

[data-ccmcardnum='7'] .ccm-image {
  text-align: center;
  margin-bottom: 25px;
}

[data-ccmcardnum='7'] .ccm-image img {
  max-width: 100%;
}

[data-ccmcardnum='7'] .ccm-name {
  line-height: 1.6;
  margin-top: 0 !important;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}

[data-ccmcardnum='7'] .ccm-time {
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
  border-right: 0;
  border-left: 0;
}

[data-ccmcardnum='7'] .ccm-summary {
  margin-bottom: 30px;
}

[data-ccmcardnum='7'] .ccm-summary:after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #000;
  margin: auto;
  margin-top: 10px;
}

[data-ccmcardnum='7'] .ccm-instagram-credit {
  border-radius: 0 !important;
}

[data-ccmcardnum='7'] .ccm-yield+.ccm-author {
  margin-left: 30px;
}
